body{
    background: #f5f7fb;
}

.product-card{
    border: none;

    border-radius: 20px;

    overflow: hidden;

    transition: 0.3s;
}

.product-card:hover{
    transform: translateY(-8px);
}

.card-img-top{
    height: 250px;

    object-fit: cover;
}

.price{
    font-size: 20px;

    font-weight: bold;

    color: #0d6efd;
}