*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1d4350, #a43931);
    min-height: 100vh;
    padding: 40px;
}

.container{
    display: flex;
    justify-content: center;
}

.card{
    width: 1100px;
    background: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.toolbar{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

button{
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
    background: #007bff;
}

button:hover{
    opacity: 0.9;
}

.clear-btn{
    background: red;
}

#loading{
    margin-bottom: 15px;
    font-size: 16px;
    color: #007bff;
    font-weight: bold;
}

table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
}

th{
    background: #007bff;
    color: white;
}

th, td{
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover{
    background: #f5f5f5;
}

.rank{
    padding: 6px 10px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
}

.good{
    background: green;
}

.average{
    background: orange;
}

.excellent{
    background: purple;
}