*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;

    background: linear-gradient(135deg,#4facfe,#00f2fe);

    min-height: 100vh;

    padding: 40px;
}

.container{
    max-width: 1100px;

    margin: auto;

    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align: center;

    margin-bottom: 30px;
}

form{
    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 15px;

    margin-bottom: 30px;
}

form input{
    padding: 12px;

    border: 2px solid #ddd;

    border-radius: 10px;

    outline: none;
}

form button{
    border: none;

    border-radius: 10px;

    background: #007bff;

    color: white;

    cursor: pointer;

    font-size: 15px;
}

form button:hover{
    background: #0056b3;
}

table{
    width: 100%;

    border-collapse: collapse;
}

table th{
    background: #007bff;

    color: white;
}

table th,
table td{
    border: 1px solid #ddd;

    padding: 15px;

    text-align: center;
}

.editBtn{
    background: orange;

    color: white;

    border: none;

    padding: 10px 15px;

    border-radius: 8px;

    cursor: pointer;
}

.deleteBtn{
    background: red;

    color: white;

    border: none;

    padding: 10px 15px;

    border-radius: 8px;

    cursor: pointer;
}