body{
    background: #f5f7fb;
}

.hero{
    background:
    linear-gradient(rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c");

    background-size: cover;

    background-position: center;

    padding: 120px 20px;
}

.feature-icon{
    font-size: 55px;

    color: #0d6efd;
}

.register-box{
    max-width: 700px;

    margin: auto;

    background: white;

    padding: 40px;

    border-radius: 20px;
}