*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;

    background: linear-gradient(135deg,#4facfe,#00f2fe);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;

    background: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1{
    margin-bottom: 30px;

    color: #333;
}

#counter{
    font-size: 70px;

    font-weight: bold;

    margin-bottom: 30px;

    color: #007bff;
}

.button-box{
    display: flex;

    justify-content: center;

    gap: 15px;
}

button{
    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    cursor: pointer;

    color: white;

    transition: 0.3s;
}

#increaseBtn{
    background: green;
}

#increaseBtn:hover{
    background: darkgreen;
}

#decreaseBtn{
    background: red;
}

#decreaseBtn:hover{
    background: darkred;
}

#resetBtn{
    background: #007bff;
}

#resetBtn:hover{
    background: #0056b3;
}