*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;

    background: linear-gradient(135deg,#4facfe,#00f2fe);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;

    background: white;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

h1{
    text-align: center;

    margin-bottom: 25px;
}

.input-box{
    display: flex;

    gap: 10px;

    margin-bottom: 25px;
}

.input-box input{
    flex: 1;

    padding: 12px;

    border: 2px solid #ddd;

    border-radius: 10px;

    outline: none;

    font-size: 15px;
}

.input-box button{
    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    background: #007bff;

    color: white;

    cursor: pointer;
}

.input-box button:hover{
    background: #0056b3;
}

#memberList{
    list-style: none;
}

#memberList li{
    background: #f5f5f5;

    padding: 15px;

    border-radius: 12px;

    margin-bottom: 12px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.action-box button{
    border: none;

    padding: 8px 12px;

    border-radius: 8px;

    color: white;

    cursor: pointer;

    margin-left: 5px;
}

.editBtn{
    background: orange;
}

.deleteBtn{
    background: red;
}